--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
gunicorn
torch==2.9.1+cpu
transformers
sentence-transformers
scikit-learn
requests
aiohttp
pydantic
pydantic-settings
python-multipart
sqlalchemy
databases
aiosqlite
